.accordion {
    font-size: 14px;
    line-height: 24px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
        border-bottom: $border-1px-solid-alto;
        padding: 16px 0;
        position: relative;
        cursor: pointer;

        &.active {
            .accordion__heading {
                font-weight: 700;
                margin-top: 2px;
    
                + div {
                    max-height: 180px;
                }
            }

            &::before {
                transform: rotate(180deg);
            }
        }

        &::before {
            content: "";
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjY2NjcgNEw4LjY2Njc1IDEyTDAuNjY2NzQ4IDQuMzQ3ODMiIHN0cm9rZT0iIzAzNTU2RiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: center;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 20px;
            right: 24px;
            z-index: -1;
            transition: transform 0.2s ease-out;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    &__heading {
        color: $cod-gray;
        padding-right: 40px;
    }

    &__description {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-size: 12px;
        line-height: 18px;
        padding-right: 40px;
    }
}

@media (max-width: 1199.98px) {
    .accordion {
        font-size: 12px;
        line-height: 18px;
    }
}
