$cod-gray: #141414;
$dove-gray: #707070;
$alabaster: #FAFAFA;
$alto: #D5D5D5;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1256px,
  xxl: 1256px
);

$headings-font-family: 'Lato';
$headings-font-style: normal;
$headings-font-weight: 700;
$headings-margin-bottom: 0;
$headings-color: $cod-gray;

$border-1px-solid-alto: 1px solid $alto;

$grid-gutter-width: 0;
$container-padding-x: 16px;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 4.5,
  9: $spacer * 5,
  10: $spacer * 5.5,
  11: $spacer * 6,
  12: $spacer * 6.5,
  13: $spacer * 7,
  14: $spacer * 7.5,
);

$enable-negative-margins: true;
