$cod-gray: #141414;
$dove-gray: #707070;
$alabaster: #FAFAFA;
$alto: #D5D5D5;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1256px,
  xxl: 1256px
);

$headings-font-family: 'Lato';
$headings-font-style: normal;
$headings-font-weight: 700;
$headings-margin-bottom: 0;
$headings-color: $cod-gray;

$border-1px-solid-alto: 1px solid $alto;

$grid-gutter-width: 0;
$container-padding-x: 16px;
